<!-- Merhaba {{title}}<br>
Merhaba {{user}}<br>
{{product1.productName}}<br>
{{product1.productId}}<br>

<ul>
  <li>Laptop</li>
  <li>telefon</li>
  <li>merhaba</li>
</ul>
<ul>
  <!--html yi manipüle ediyoruz. direktif deniyor. ngfor buit-in yerleşik angulara direktifler-->
<!--  <li *ngFor="let product of products">{{product.productName}}</li>

</ul> -->
<div class="container">
  <app-navi></app-navi>
  <div class="row">
    <div class="col-md-3">
      <app-category></app-category>
    </div>
    <div class="col-md-9">
      <app-product></app-product>
    </div>

  </div>

</div>


<router-outlet></router-outlet>
